<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>authentication</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {%endfor%}

    <h3>WELCOME!!!!!!!!</h3>

    {% if user.is_authenticated %}
    <h3>Hello {{ fname }}</h3>
    <h4>You are Successfully Logged in.</h4>
    <button type="submit"><a href="/signout">SignOut</a></button>

    {% else %}
    <button type="submit"><a href="/signup">SignUp</a></button>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}



</body>
</html>